body{
    background-color: rgba(74, 84, 95, 0.767);
    color: rgb(219, 232, 255);
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}   

img {
    height: 200px;
}
.title{
    text-align: center;
}

.navigation{
    height: 100px;
    background-color: rgb(26, 59, 167);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 46px;

}
.navigation>a{
    color:white;
   text-decoration: none;


}
section{
    width: 300px;
    border: 2px solid rgb(28, 35, 43);
    border-radius: 16px;
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;

}
section>h2{
    text-align: center;
}
footer{
    background-color: rgb(59, 87, 136);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    width: 182px;
    background-color: rgb(26, 59, 167);
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-width: 0;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;

}
button :hover{
background: #1572f3

}